{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>인스타그램</title>

    <link href="{% static 'styles/index.css' %}" rel="stylesheet"/>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="{% static 'javascripts/vue.js' %}" type="module"></script>
</head>
<body>
<div id="app">
    <section class="head row space-between">
        <div class="row">
            <img alt="profile" class="profile-img" src="{{ profile }}"/>
            <div class="profile-name">{{ name }}</div>
        </div>
        <button class="more-menu-btn">···</button>
    </section>
    <section class="image">
        <ul class="image-container row align-start" :style="imageContainerStyle">
            <li v-for="(contentImage, index) in contentImages" :key="contentImage"
                class="content-img"
                :style="{backgroundImage: 'url(' + contentImage + ')'}"
                @click="swipeImage($event, index)"
            ></li>
        </ul>
    </section>
    <section class="bottom">
        <div class="content row">
            <span class="name">{{ name }}</span>
            <span class="content">{{ content }}</span>
        </div>
        <ul class="comment">
            <li v-for="comment in comments" class="comment row" :key="comment.id">
                <span class="comment-user">[[ comment.user ]]</span>
                <span class="comment-text">[[ comment.text ]]</span>
            </li>
        </ul>
        <button v-show="isShowMoreBtn" class="more-comments-btn" @click="getComments()">댓글 더보기</button>
    </section>
    <section class="input row">
        <input id="comment-input" placeholder="댓글 달기..." type="text" :value="comment"
               @input="validateComment($event)" @keydown.enter="submitComment($event)"/>
        <button class="comment-submit-btn" :class="{'active': isValidateComment}" @click="submitComment($event)">
            게시
        </button>
    </section>
</div>

<script>
  window.csrfToken = '{{ csrf_token }}'
  window.user = '{{ user }}'

  window.data = {
    contentImages: JSON.parse('{{ content_images|escapejs }}'),
    comments: JSON.parse('{{ comments|escapejs }}')
  }

  window.urls = {
    getCommentsApi: '{% url "app:get_comments_api" %}',
    postCommentApi: '{% url "app:post_comment_api" %}',
  }
</script>
</body>
</html>

